<h1>Editing song</h1>

<%= render "form", song: @song %>

<br>

<div>
  <%= link_to "Show this song", @song, class:"btn btn-secondary" %> <br>
  <%= link_to "Back to songs", songs_path, class:"btn btn-secondary" %>
</div>
